<mat-toolbar class="custom-toolbar">

  <div class="name-container">
    <span>TALOM KAPTUE</span>
    <span *ngIf="!isNameExpanded" class="name-ellipsis" (click)="toggleNameDisplay()">...</span>
    <!-- La correction est ici -->
    <span *ngIf="isNameExpanded" @nameAnimation> Patrice</span>
  </div>

  <div class="flex items-center gap-2">

    <!-- Navigation pour les grands écrans, contrôlée par CSS -->
    <div class="desktop-nav">
      <nav>
        <a mat-button href="#about">{{ 'HEADER.ABOUT' | translate }}</a>
        <a mat-button href="#skills">{{ 'HEADER.SKILLS' | translate }}</a>
        <a mat-button href="#projects">{{ 'HEADER.PROJECTS' | translate }}</a>
        <a mat-button href="#contact">{{ 'HEADER.CONTACT' | translate }}</a>
      </nav>
      <div class="separator"></div>
    </div>

    <!-- =============================================================== -->
    <!-- AJOUT DU BOUTON DE THÈME -->
    <!-- =============================================================== -->
    <!-- <mat-slide-toggle [checked]="isDarkMode" (change)="toggleTheme()" aria-label="Changer le thème (clair/sombre)"
      class="theme-toggle">
      <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
    </mat-slide-toggle> -->

    <button mat-button [matMenuTriggerFor]="menu">{{ currentLang | uppercase }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchLang('fr')">Français</button>
      <button mat-menu-item (click)="switchLang('en')">English</button>
    </mat-menu>

    <!-- Bouton Hamburger, contrôlé par CSS -->
    <button mat-icon-button class="mobile-menu-button" (click)="onMenuToggle()"
      aria-label="Ouvrir le menu de navigation">
      <mat-icon>menu</mat-icon>
    </button>
    
  </div>
</mat-toolbar>