<!-- Le conteneur principal pour le Sidenav -->
<mat-sidenav-container class="h-full">

  <!-- Le Sidenav (menu latéral) qui est caché par défaut -->
  <!-- On applique les styles directement ici -->
  <mat-sidenav #sidenav mode="over" position="start" class="w-60 nav bg-gray-100 text-gray-50 shadow-xl">
    <div class="p-6">
      <div class="flex items-center justify-between mb-8">
        <h3 class="text-xl font-bold">Navigation</h3>
        <!-- Bouton pour fermer explicitement le menu -->
        <button mat-icon-button (click)="sidenav.close()" aria-label="Fermer le menu">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      
      <!-- Liste des liens de navigation. -->
      <mat-nav-list>
        <a mat-list-item href="#about" (click)="sidenav.close()">{{ 'HEADER.ABOUT' | translate }}</a>
        <a mat-list-item href="#skills" (click)="sidenav.close()">{{ 'HEADER.SKILLS' | translate }}</a>
        <a mat-list-item href="#projects" (click)="sidenav.close()">{{ 'HEADER.PROJECTS' | translate }}</a>
        <a mat-list-item href="#contact" (click)="sidenav.close()">{{ 'HEADER.CONTACT' | translate }}</a>
      </mat-nav-list>
    </div>
  </mat-sidenav>


  <!-- Le contenu principal de votre page -->
  <mat-sidenav-content>
    <!-- Le header reçoit l'événement (menuToggle) et appelle la méthode pour ouvrir le sidenav -->
    <app-header (menuToggle)="sidenav.toggle()"></app-header>
    
    <main>
      <app-hero></app-hero>
      <app-about></app-about>
      <app-skills></app-skills>
      <app-projects></app-projects>
      <app-contact></app-contact>
    </main>
    
    <app-footer></app-footer>
  </mat-sidenav-content>

</mat-sidenav-container>